{% extends 'layout.html' %} {% block main %}
<div>
  <!-- {{context}} -->
  <div class="container mx-auto">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-6">
        <div class="login-body">
          <h1 class="text-center">Scrapper Configurations</h1>
          <br />

          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            <div>{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}

          <form
            id="twitter-target-form"
            method="POST"
            action="/user/target/configuration"
          >
            <div class="form-group">
              <label for="likeCount">Likes Count </label>
              <input
                type="number"
                value="{{context['configurations']['likeCount']}}"
                class="form-control form-control-sm"
                id="likeCount"
                name="likeCount"
                required
                min="0"
              />
            </div>

            <div class="form-group">
              <label for="retweetCount">Retweet Count</label>
              <input
                type="number"
                value="{{context['configurations']['retweetCount']}}"
                class="form-control form-control-sm"
                id="retweetCount"
                name="retweetCount"
                required
                min="0"
              />
            </div>

            <div class="form-group">
              <label for="viewCount">View Count</label>
              <input
                type="number"
                value="{{context['configurations']['viewCount']}}"
                class="form-control form-control-sm"
                id="viewCount"
                name="viewCount"
                required
                min="0"
              />
            </div>

            <div class="form-group">
              <label for="inKeywords">In Keywords</label>
              <input
                type="text"
                value="{{ context['configurations']['inKeywords']|join(',')}}"
                class="form-control form-control-sm"
                id="inKeywords"
                name="inKeywords"
                required
              />
            </div>

            <div class="form-group">
              <label for="outKeywords">Out Keywords</label>
              <input
                type="text"
                value="{{ context['configurations']['outKeywords']|join(',')}}"
                class="form-control form-control-sm"
                id="outKeywords"
                name="outKeywords"
                required
              />
            </div>

            <!--<div class="form-group">
                <label for="likeCount">Location</label>
                <select class="form-control form-control-sm" id="location" name="location">
                    <option value="Islamabad, Pakistan"> Islamabad, Pakistan</option>
                  </select>
              </div> -->

            <div class="text-center">
              <button type="submit" class="btn btn-sm btn-success">
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
