<!-- {% if context['target'] %}
<p>Target Type : {{context['target']['target_type']}}</p>
<p>Targets : {{context['target']['targets']}}</p>
<p>Limit : {{context['target']['limit']}}</p>

{% for target in context['target']['tweets'] %}

{% endfor %}
{% endif %}
 -->

 <style>
.tweet-card{
  height:500px;
}
 </style>


{% extends 'layout.html' %} {% block main %}
<div class="container my-4">
  <div class="row">
    <div class="col-md-12">
      {% if context['target'] %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Target Details</h4>
          <p class="card-text">
            Target Type: {{context['target']['target_type']}}
          </p>
          <p class="card-text">Targets:
            <ul class="list list-inline">
              {% for target in context['target']['targets']%}
              <li class="">{{loop.index}} - {{target}}</li>
              {% endfor %}
            </ul>
          </p>

          <p class="card-text">Limit: {{context['target']['limit']}}</p>
        </div>
      </div>
      {% if context['target']['tweets'] %}
        <h4>Tweets</h4>
        <div class="row">
          {% for tweet in context['target']['tweets'] %}
          <div class="col-md-6">
            <div class="tweet-card card mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-md-3" style="font-size:9px;">Likes : {{tweet['like_count']}}</div>
                  <div class="col-md-3" style="font-size:9px;">Retweets: {{tweet['retweet_count']}}</div>
                  <div class="col-md-3" style="font-size:9px;">Replies : {{tweet['replyCount']}}</div>
                  <div class="col-md-3" style="font-size:9px;">Lang : {{tweet['lang']}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3" style="font-size:9px;">Views : {{tweet['view_count']}}</div>
                  <div class="col-md-3" style="font-size:9px;">Loc:{% if tweet['user']%} {{tweet['user']['location'] or "N/A"}}{% endif %} </div>
                  <div class="col-md-3" style="font-size:9px;">Verified : {% if tweet['user']%}{{tweet['user']['verified']}}{% endif %}</div>
                  <div class="col-md-3" style="font-size:9px;">Lang : {{tweet['lang']}}</div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6"> <p class="card-text" style='font-size:12px;'>{{ tweet['username'] }}</p></div>
                  <div class="col-md-3"><a href="{{ tweet['url'] }}" style='font-size:10px;' target="_blank" >click</a></div>
                </div>

                <div class="row">
                  <div class="col-md-6"> <img src="{% if tweet['user']%}{{ tweet['user']['profileImageUrl'] }}{% endif %}" class="img-fluid"></div>
                  <div class="col-md-6"> <img src="{% if tweet['user']%}{{ tweet['user']['profileBannerUrl'] }}{% endif %}" class="img-fluid"></div>

                </div>
                <div class="row mt-2 mb-2">
                  <div class="col-md-12"><p class="card-text" style='font-size:10px;'>Source : {{ tweet['sourceLabel'] }}</p></div>
                  <div class="col-md-12"><p class="card-text" style='font-size:10px;'>Content :</p>
                <small> {{ tweet['rawContent'] }}</small>
                  </div>


                </div>
             
              
                <p class="card-text">
                  <small class="text-muted">
                    {{ tweet['created_at'] }}</small>
                </p>
              </div>
            </div>
            <div>
            </div>
          </div>
           {% endfor %}
          {% endif %} {% else %}
          <p>No target found.</p>
          {% endif %}
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
